<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio</title>
    <link rel="stylesheet" href="cardapio.css">



    
</head>
<body>

    <header>

        <button class="voltar" ><a href="./index.html" ><ion-icon name="chevron-back"></ion-icon></a></button>
        <h1>Cardapio</h1>
        <button class="menu" id="carrinho-lista"><a href=""></a><ion-icon name="apps"></ion-icon></button>


    </header>



    <main>
        <br>


        <div class="entrada">
            <h3>Entrada <br><ion-icon name="restaurant-outline"></ion-icon> <br> </h3>
            <div class="cardapio">
                <img class="photos" src="../photos/alho.png" alt="Carne assada" height="200px" width="270px"> <br>
            Pão de Alho: 10R$ <button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br>

            </div>  

        </div>


<h3>Pratos Principais <br><br></h3>
        <div class="principais">
            
            <div class="cardapio">
                <img class="photos" src="../photos/carne.png" alt="Carne assada" height="200px" width="270px"> <br>
             Carne Assada: Serve 4 pessoas R$ 15<button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br>

            </div> 
 


            <div class="cardapio">
                <img class="photos" src="../photos/frango.png" alt="Frango assado" height="200px" width="270px"> <br>
            Frango Assado: Serve 3 pessoas R$ 25 <button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br>

            </div><br>
            


            <div class="cardapio">
                <img class="photos" src="../photos/porco.png" alt="Carne de Porco Assada" height="200px" width="270px"> <br>
            Porco Assado: Serve 2 pessoas R$ 25 <button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br>

            </div>
   
        </div>


 <h3>Acompanhamentos</h3>
        <div class="acompanhamentos">
           

            <div class="cardapio">
                <img class="photos" src="../photos/arroz.png" alt="arroz" height="200px" width="270px"> 
                Arroz: Serve 3 pessoas R$ 15<button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br> 
            </div>

            <div class="cardapio">
                <img class="photos" src="../photos/pure.png" alt="pure" height="200px" width="270px">
                Purê: Serve 3 pessoas R$ 10 <button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br>
            </div>

            <div class="cardapio">
                <img class="photos" src="../photos/vinagrete.png" alt="vinagrete" height="200px" width="270px">
                Vinagrete: Serve 3 pessoas R$ 10<button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br></ion-icon><br>
            </div>


            <div class="cardapio">
                <img class="photos" src="../photos/farofa.png" alt="Carne assada" height="200px" width="270px">
                Farofa: Serve 3 pessoas R$ 10<button class="pedido" id="pedido"><ion-icon name="cart-outline"></ion-icon></button><br><br>

            </div>
        </div>






        <div class="bebidas">

            <h3>Bebidas<br><ion-icon name="cafe-outline"></ion-icon> </h3>
            
            <p class="tipos">
                <h4>Cervejas R$ 10</h4>
                Heineken <br>
                Stella Artois <br>
                Brahma duplo Malte <br>
                Corona<br>
                <br>

                <h4>Sucos R$ 4</h4>
                Maracujá<br>
                Acerola<br>
                Laranja<br>
                <br>

                <h4>Refrigerantes R$ 5</h4>
                Guaraná <br>
                Coca-Cola<br>
                Fanta<br>
                Pepsi<br>
                
            </p>

            <form action="" class="formulario">
                <fieldset class="formulario2">

                    <div class="dropdown">

                        <input type="text" placeholder="Escolha a opção" onclick="showDropdon()" class="input">
                        <div class="dropdown-content">
                            <label for=""><h3>Cervejas</h3></label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Heineken</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Stella Artois</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Brahma duplo Malte</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Corona</label>
                            <label for=""><h3>Sucos</h3></label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Maracujá</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Acerola</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Laranja</label>
                            <label for=""><h3>Sucos</h3></label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Guaraná</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Cola-cola</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Fanta</label>
                            <label for=""><input type="checkbox" name="opcao" value="opcçao" >Pepsi</label>

                        </div>

            
                    </div>

                    <script>
                        function showDropdon(){
                            document.querySelector(".dropdown-content").classList.toggle("show");
                        }
                    </script>

                    <button class="pedido" id="pedido" onclick="abrirCaixa()"><ion-icon name="cart-outline"></ion-icon></button><br>

        </div>

                </fieldset>
            </form>






    </main>


    <footer>
        <p >Não utilizamos churrasqueiras eletricas</p> <br>

        <p>
            Contatos: <br>
            <a href="tapegandofogobicho@gmail.com" target="_blank">tapegandofogobicho@gmail.com</a>
            <br><a href="tel+5598900000000">telefone</a>
        </p>

    </footer>





    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
    
</body>
</html>