<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>CHURRASCARIA DO FAUSTÃO </h1>
    </header>


    <main class="box">


            <div class="info">
                <p > <strong>Horarios de funcionamento:</strong></p>
                <p class="hora"><strong>12:00 as 14:30 e 18:30 as 23:00</strong> </p>
            </div>

            <nav class="botao">
                <button class="opcao"><a href="./cardapio.html"><strong>CARDAPIO</strong> </a></button>
                <button class="opcao"><a href="./reservas.html"><strong>RESERVAS</strong> </a></button>
            </nav> <br>

            <div class="map">
                 <iframe class="mapGoogle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7972.041118362503!2d-44.291314382815166!3d-2.500111338145674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f68c2d7fa3aa0b%3A0xc58ef8d3371677cb!2sUNDB!5e0!3m2!1spt-BR!2sbr!4v1678376769971!5m2!1spt-BR!2sbr" 
                width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>



            <div class="social">
                <a href="https://www.facebook.com" target="_blank"><img class="img" src="./photos/facebook.png" alt="facebook" height="40px" width="40px"></a>
                <a href="https://www.instagram.com" target="_blank"><img class="img" src="./photos/instagram.png" alt="instagram" height="40px" width="40px"></a>
            </div>

       
    </main>




    


    <footer>


    </footer>




    
</body>
</html>